.App {
  text-align: center;
}

.App-header {
  width: 100vw
}

.App-header {
  width: 100%;
  max-width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
